name: Sonar Cloud Backend Scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  packages: write  # Allow write access to packages
  contents: read      

jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - name: Checkout to main branch
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17' # Specify the Java version you want to use  
          distribution: 'corretto' # See 'Supported distributions' for available options

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install npm dependencies
        run: npm install
        
      - name: Test and coverage
        run: npm run test:coverage

      - name: SonarCloud Scan
        env:
          SONAR_TOKEN: ${{ secrets.BACKEND_SONAR_TOKEN }}
        run: |
          npx sonar-scanner \
            -Dsonar.organization=univalle-software-development \
            -Dsonar.projectKey=univalle-software-development_backend \
            -Dsonar.sources=./src \
            -Dsonar.exclusions=**/node_modules/**,./src/db.js  \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.javascript.node.maxspace=4096 \
            -Dsonar.tests=./tests \
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info \
            -Dsonar.genericCoverageReportPaths=coverage/coverage-final.json

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHRC_TOKEN }}
          logout: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & Push to GitHub Package
        uses: opspresso/action-docker@master
        with:
          args: --docker
        env:
          PASSWORD: ${{ secrets.GHRC_TOKEN }}
          REGISTRY: "docker.pkg.github.com"
          IMAGE_NAME: ${{ vars.OWNER }}/my-app-backend
          TAG_NAME: "v0.0.1"
  
